<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Alle departments met manager uit dbase</title>
    <!--Bootstrap minified CSS-->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!--JQUERY-->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!--Javascript-->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/jquery.js"></script><!--de $ werken alleen als het bestand jquery.js apart ingelezen wordt-->
    <script>

        $(document).ready(function(){

            $.ajax('http://locolhost:8080/departments', {'method':'GET'})
                .done(function(data){
                    $.each(data, function(idx, el){

                        let h = `<tr class='dpt' id='${el.department_id}'><td>${el.department_name}</td><td>${el.manager_name}</td></tr>`

                        $("#departments").html($("#departments").html()+h)
                    })

                })
        .fail(function(e){console.log(e)})

            $("#departments").on('click', '.dpt', function(el){console.log(el.currentTarget.id)});

        })

    </script>

</head>

<body>

    <table id="departments">
        <tr><th>Naam department</th><th>Naam manager</th></tr>
    </table>

</body>
</html>


